<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.icar.rim">

    <permission
        android:name="vn.icar.rim.permission.PRIVATE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="vn.icar.rim.permission.PRIVATE" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />

    <application
        android:name="vn.icar.rim.RemoteInputsMgr"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="vn.icar.rim.activity.MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.icar.rim.activity.PreferencesActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_settings"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:parentActivityName="vn.icar.rim.activity.MainActivity" >
        </activity>
        <activity
            android:name="vn.icar.rim.activity.UsbStateActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <receiver android:name="vn.icar.rim.receiver.BootStateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="vn.icar.rim.service.SerialListenerService"
            android:process=":serial" />
    </application>

</manifest>